.sections-wrapper {
  grid-template-columns: 3fr 1fr;
}

article > figure {
  float: right;
}
article > figure > img {
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
article > figure > img.thumbnail {
  margin-left: 0.5rem;
  max-width: 120px;
}
article > footer > .written {
  font-size: 90%;
}

aside > nav {
  margin-bottom: 2rem;
}

.pagination {
  float: left;
}
.pagination a {
  padding: 5px 10px;
  text-decoration: none;
}

textarea#body {
  min-height: 15rem;
}

.is-error {
  background-color: var(--pico-card-background-color);
  border-radius: 0.2rem;
}
.is-error li {
  color: rgb(183.25, 63.5, 59);
}

@media (max-width: 768px) {
  .sections-wrapper {
    grid-template-columns: none;
  }
  article > footer > .written {
    display: inline-block;
  }

  .login-image {
    grid-template-columns: none;
  }
}
